{% extends 'base.html.twig' %}

{% block title %}
	Nos différents articles
{% endblock %}

{% block body %}

	<div class="container">
		{% for message in app.flashes('success') %}
			<div style="margin-top: 25px" class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
	</div>

	<div class="main">
		<div class="container mt-5">
			<div class="jumbotron">
				<h1 class="display-4">
					Voir tous nos articles
				</h1>
				<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi consequatur eaque asperiores nobis illum sunt doloremque beatae, minima a non perspiciatis maiores inventore nisi ratione quas quod qui. Praesentium, recusandae?</p>
			</div>

			<div class="container mt-4">
				<h2>
					Les derniers articles
				</h2>
				<div class="row flex">
					{% for article in articles|sort %}
						<div class="col-3">
							<div class="card mt-4">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{ path('app_commande_new', {id: article.id}) }}">
											{{ article.name }}</a>
									</h5>
									<div class="text-darkly">{{ article.price }}
										€</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				<div class="navigation d-flex justify-content-center mt-4">
					{{ knp_pagination_render(articles) }}
				</div>

			</div>
		</div>
	</div>
{% endblock %}
