{% extends 'base.html.twig' %}


{% block title %}
	Accueil
{% endblock %}


{% block body %}
	<nav class="navbar navbar-expand-lg navbar-light bg-success">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">RubanSoft</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" href="#">Acheter
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">A propos
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">Mon compte
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_login_logout') }}">Se déconnecter
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="mt-5">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Numéros</th>
					<th scope="col">Siret Client</th>
					<th scope="col">Nom Client</th>
					<th scope="col">Adresse Client</th>
					<th scope="col">Code postal Client</th>
					<th scope="col">Ville</th>
					<th scope="col">Article</th>
					<th scope="col">Quantitée</th>
					<th scope="col">Prix</th>
					<th scope="col">Date commande</th>
					<th scope="col">Etat Production</th>
					<th scope="col">poids total</th>
					<th scope="col">numéros de suivit</th>
					<th scope="col">Départ commande</th>
					<th scope="col">Arrivé Commande</th>
					<th scope="col">Etat Livraison</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>


			<tbody>
				{% for commande in commandes %}
					{% if commande.stateDelivery is same as "1" %}
						<tr class="table-light">
							<th scope="row">{{ commande.id }}</th>
							<td>{{ commande.siret }}</td>
							<td>{{ commande.name }}</td>
							<td>{{ commande.address }}</td>
							<td>{{ commande.postalCode }}</td>
							<td>{{ commande.city }}</td>
							<td>{{ commande.articles.name }}</td>
							<td>{{ commande.quantity }}</td>
							<td>{{ commande.articles.price }}</td>
							<td>{{ commande.createdAt|date('d/m/Y') }}</td>
							<td>{{ commande.stateType }}</td>
							<td>{{ commande.weight }}</td>
							<td>{{ commande.trackingNumber }}</td>
							<td>{{ commande.dateStartDelivery }}</td>
							<td>{{ commande.dateEndDelivery }}</td>
							<td>{{ commande.stateDeliveryType }}</td>
							<td>
								<a href="{{ path('commande.pdf', {id: commande.id}) }}" class="btn btn-warning">
									Editer
								</a>
							</td>

						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
			<table>

				<div class="navigation d-flex justify-content-center">
					{{ knp_pagination_render(commandes) }}
				</div>


			</div>

		{% endblock %}
