{% extends 'base.html.twig' %}


{% block title %}
	Accueil
{% endblock %}


{% block body %}
	<nav class="navbar navbar-expand-lg navbar-light bg-success">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">RubanSoft</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" href="#">Acheter
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">A propos
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">Mon compte
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_login_logout') }}">Se déconnecter
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container mt-5">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Numéros</th>
					<th scope="col">Nom</th>
					<th scope="col">Référence Film</th>
					<th scope="col">Code machines</th>
					<th scope="col">Prix</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>


			<tbody>
				{% for article in articles %}
					<tr class="table-light">
						<th scope="row">{{ article.id }}</th>
						<td>{{ article.name }}</td>
						<td>{{ article.refFilm }}</td>
						<td>{{ article.codeMachine }}</td>
						<td>{{ article.price }}</td>
						<td>
							<a href="{{ path('app_article_edit', {id: article.id}) }}" class="btn btn-warning">
								Editer
							</a>
						</td>
						<td>
							<a href="{{ path('app_article_delete', {id: article.id}) }}" class="btn btn-danger">
								Supprimer
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<table>

				<div class="navigation d-flex justify-content-center">
					{{ knp_pagination_render(articles) }}
				</div>

				<a href="{{ path('app_article_new') }}" class="btn btn-success mt-4 d-flex justify-content-center">
					Ajouter un article
				</a>


			</div>

		{% endblock %}
